*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    margin: 0%;
}

.label{
    background-color: #111;
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
    padding: 5px;
    height: 26px;
    position: relative;
    width: 50px;
}
.fa-moon{
    color: #f1c40f;
}
.fa-sun{
    color: #f39c12;
}
