<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/b2bfad480d.js" crossorigin="anonymous"></script>
    <title>Toogle</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div>
        <input type="checkbox" class="checkbox" id="checkbox">
        <label for="checkbox" class="label"></label>
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
        <i class="fas fa-globe-asia"></i>
    </div>
</body>
</html>